.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2196f3;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  font-size: 1.2rem;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffd700;
}

.content {
  margin-top: 60px;
}

/* Estilo responsivo para dispositivos móviles */
@media (max-width: 768px) {
  .nav-links {
    display: none; /* Esconde el menú por defecto */
    flex-direction: column; /* Cambia los enlaces a columna */
    position: absolute;
    top: 86px; /* Debajo del header */
    right: 0;
    background-color: #2196f3;
    width: 100%;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .nav-links.show {
    display: flex; /* Muestra el menú cuando se activa */
  }

  .nav-links li {
    text-align: center; /* Centra los enlaces */
    padding: 10px 0; /* Espaciado entre enlaces */
  }

  .menu-toggle {
    display: block; /* Muestra el botón de menú */
    cursor: pointer;
    font-size: 1.8rem;
    margin-left: 32%;
  }
}

/* Esconde el botón de menú en pantallas grandes */
@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}
