/* Estilos base (para todas las pantallas) */
.booking {
  text-align: center;
  padding: 20px;
  margin-top: 50px;
}

.calendar-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-controls button {
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

h3 {
  margin: 0 20px;
  font-size: 24px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin: 20px auto;
  max-width: 700px;
}

.calendar-day {
  background-color: #f0f0f0;
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s;
}

.calendar-day.empty {
  background-color: transparent;
}

.calendar-day.today {
  background-color: #08cb04;
  color: white;
}
.calendar-day:hover {
  background-color: #05a302;
}

.calendar-legend {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.legend-item {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.legend-square {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.available {
  background-color: green;
}

.occupied {
  background-color: red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: hidden;
}
.modal-content-float {
  background: white;
  border-radius: 12px;
  padding: 20px;

  text-align: center;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  position: relative;
}
.submit-btn {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}
.close-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.modal-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  text-align: left;
  width: 95%;
  max-width: 700px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
}

.modal-content label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 5px;
  display: block;
}

.qr-code {
  text-align: center;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s;
}

.modal-content input:focus,
.modal-content textarea:focus {
  border-color: #4caf50;
}

.modal-content textarea {
  resize: none;
  height: 80px;
}

.modal-content button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.disabled {
  background-color: #b0b0b0f7;
  cursor: not-allowed;
}

.modal-content button[type="submit"] {
  background-color: #4caf50;
  color: white;
}

.modal-content button[type="submit"]:hover {
  background-color: #45a049;
}

.modal-content button[type="button"] {
  background-color: #f44336;
  margin-left: 70%;
  color: white;
}

.btnmodal {
  background-color: #f44336;
}

.btnmodal:hover {
  background-color: #e41f1f;
}

.modal-content button[type="button"]:hover {
  background-color: #e41f1f;
}

.leyenda {
  width: 20px;
  height: 20px;
  background: rgb(231, 65, 65);
  margin-left: 40%;
}

.time-item {
  border: 1px solid #4caf50;
  list-style-type: none;
  padding: 12px 20px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.leytext {
  margin-left: 120%;
  padding-top: 2px;
}

.time-item:hover {
  background-color: #66bb6a;
  color: white;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.time-item:active {
  background-color: #388e3c;
  transform: translateY(1px);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content h2 {
  font-size: 18px;
}

.modal-close {
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  margin-right: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loading-spinner p {
  color: white;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #16c060;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.form-note {
  font-size: 14px;
  color: #555;
  font-style: italic;
  background-color: #f9f9f9;
  padding: 8px 12px;
  border-left: 4px solid #007bff;
  border-radius: 4px;
  margin-bottom: 15px;
}

.floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #1b5e20;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  z-index: 1000;
}

.floating-btn:hover {
  transform: scale(1.1);
}

.modal-overlay-float {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.reserva {
  height: 45px;
}

.reservarealizada {
  font-size: 18px;
  color: #1b5e20;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.input-field {
  margin-left: 100px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.datreserv {
  background-color: #dadada;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  max-width: 600px;
  margin: 20px auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.datreserv h4 {
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.datreserv p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.datreserv p:nth-child(odd) {
  font-weight: bold;
}

.modal-container {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-out;
}

.mensaje-exito {
  display: none;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 20px;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  width: 80%;
}

.mensaje-exito.show {
  display: block;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.datreserv button {
  background-color: #de2828;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.datreserv button:hover {
  background-color: #7d1515;
}

.datreserv button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) {
  .booking {
    padding: 10px;
    margin-top: 110px;
  }

  .calendar-controls button {
    font-size: 16px;
    padding: 8px;
  }
  .input-field {
    margin-left: 22%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h3 {
    font-size: 20px;
    margin: 0 10px;
  }

  .calendar {
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin: 10px auto;
  }

  .calendar-day {
    padding: 10px;
    font-size: 14px;
  }

  .calendar-legend {
    flex-direction: column;
    gap: 10px;
  }

  .modal-content {
    padding: 15px;
    width: 90%;
    max-height: 90vh;
  }

  .modal-content h3 {
    font-size: 1.2rem;
  }

  .modal-content input,
  .modal-content textarea {
    font-size: 0.9rem;
  }

  .modal-content button[type="button"] {
    font-size: 1rem;
    margin-left: 55%;
    padding: 8px 12px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 35%;
  }

  .floating-btn {
    padding: 12px 16px;
    font-size: 20px;
    bottom: 15px;
    right: 15px;
  }

  .datreserv {
    width: 90%;
    padding: 15px;
  }

  .datreserv h4 {
    font-size: 1.2rem;
  }

  .datreserv p {
    font-size: 0.9rem;
  }

  .datreserv button {
    font-size: 0.9rem;
    padding: 8px 16px;
  }
}

@media (max-width: 310px) {
  .calendar {
    grid-template-columns: repeat(4, 1fr); /* Cambia a 4 columnas en móviles */
  }
  .input-field {
    margin-left: 10%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .calendar-day {
    padding: 8px;
    font-size: 12px;
  }

  .modal-content {
    width: 95%;
    padding: 10px;
  }

  .modal-content h3 {
    font-size: 1rem;
  }

  .modal-content input,
  .modal-content textarea {
    font-size: 0.8rem;
  }

  .modal-content button[type="button"] {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;

    margin-left: 40%;
  }

  .floating-btn {
    padding: 10px 14px;
    font-size: 18px;
  }
}
